<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/Email.css">
        <link rel="shortcut icon" href="/img/ico.ico" type="image/x-icon">
        <title>Enjoy Your Mail</title>
    </head>
    <body>
        <div class="main">
            <section id="Titulo_Empresa">
                <h1>
                    <strong>
                        Enjoy Your Pet
                    </strong>
                </h1>
                <h4>
                    <strong>
                        Un Hogar Para Tu Mascota
                    </strong>
                </h4>
            </section>
            <section id="Email">
                <div id="Asunto_Email">
                    <h2>
                        Hiciste Una Compra!
                    </h2>
                </div>
                <div id="CuerpoEmail">
                    <h1>¡Notificación de Compra!</h1>
                    <p>Estimado/a <%=usuario%>,</p>
                    <p>Le informamos que se ha realizado una compra de un
                        producto en su cuenta con los siguientes detalles:</p>

                    <table>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <td><%=producto%></td>
                            <td><%=cantidad%></td>
                            <td><%=precio%></td>
                            <td>$ <%=total%> COP</td>
                        </tr>
                    </table>

                    <p>La compra se ha registrado exitosamente, y se ha
                        registrado una suma de dinero de $ <%=total%> COP en
                        su Venta.</p>
                    <p>Por favor espera a que el vendedor llegue a tu 
                        direccion con tu producto o comunicate directamente con el al numero:</p>
                        <a href="https://api.whatsapp.com/send?phone=<%=numero%>" target="_blank">Abrir Chat de WhatsApp</a>
                    <p>Gracias por confiar en nosotros.</p>
                    <p>Atentamente,</p>
                    <p>Enjoy Your Pet</p>
                </div>
            </section>
        </div>
    </body>
</html>